$backgroundColor: #000;
$techniquesBackgroundColor: #9c9c9c;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
}

a {
  color: #00B7FF;
}

#search-logo {
  max-width: 20em;
}

.techniques {
	width: 100%;
	color: #000;
	background-color: $techniquesBackgroundColor;
	text-align: left;

}
